.tasks{

  .tasks__navigation{
    height: 80px;
    display: flex;
    align-items:center;
    font-weight: lighter;
    button{
      margin-left: 20vw;
    }
  }


  li{
    cursor: pointer;
    list-style-type: none;
    height: 50px;
    display: inline-flex;
    align-items:center;
  }
  span{
    display: inline-block;
  }
  .table-item__id{
    width: 100px;
    text-align:center;
  }
  .table-item__name{
    width: 415px;
  }
  .table-item__status{
    width: 125px;
    font-size: 12px;
    color: #FFF;
    span{
      padding: 2px 15px;
    }
  }
  .table-item__creator{
    width:  400px;
  }
}
.tasks__table-item{
  border-bottom: 1px solid #eef1f4;
  color: #525460;
  font-weight: lighter;
}
.tasks__table-head-item{
  font-weight: bold;
}
.tasks__table-head{
  border-bottom: 2px solid #eef1f4;
}
.table-item__label{
  margin-left:2px;
  width: 4px;
  height: 90%;
  border-radius:20%;

}
.label-normal{
  background-color: #f75394;
}
.label-light{
  background-color: #fb9bc8;
}
.label-high{
  background-color: #681c23;
}
.status-open{
  span{
    background-color: #fd5e53;
    border-radius:25px;
    padding: 0 8px;
  }
}
.status-closed{
  span{
    background-color: #3cb371;
    border-radius:25px;
    padding: 0 8px;
  }
}
.status-work{
  span{
    background-color: #ffb02e;
    border-radius:25px;
    padding: 0 8px;
  }
}
.status-done{
  span{
    background-color: #9acd32;
    border-radius:25px;
    padding: 0 8px;
  }
}

//tasks